In [8]:
import pandas as pd 

from sqlalchemy import create_engine
from sqlalchemy import text

In [5]:
df = pd.read_csv("Path to CSV/sales_data_sample.csv", encoding='latin1')

In [7]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [10]:
temp_db = create_engine('sqlite:///:memory:',echo=True)

In [11]:
# Here we are pushing our entinre dataset to a temporary Table named Sales

In [15]:
data = df.to_sql(name='Sales',con=temp_db, if_exists='replace', index=False)

2024-01-08 21:35:16,743 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2024-01-08 21:35:16,744 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-08 21:35:16,745 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2024-01-08 21:35:16,746 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-08 21:35:16,747 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2024-01-08 21:35:16,747 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-08 21:35:16,748 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("Sales")
2024-01-08 21:35:16,749 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-08 21:35:16,751 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-01-08 21:35:16,751 INFO sqlalchemy.engine.Engine [raw sql] ('Sales',)
2024-01-08 21:35:16,752 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Sales")
2024-01-08 21:35:16,752 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-08 21:35:16,753 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Sales")
2024-01-08 21:35:16,753 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-08 21:35:16,754 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-01-08 21:35:16,755 INFO sqlalchemy.engine.Engine [raw sql] ('Sales',)
2024-01-08 21:35:16,755 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Sales")
2024-01-08 21:35:16,756 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-08 21:35:16,757 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Sales_index")
2024-01-08 21:35:16,757 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-08 21:35:16,761 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Sales")
2024-01-08 21:35:16,769 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-08 21:35:16,770 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Sales_index")
2024-01-08 21:35:16,771 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-08 21:35:16,771 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-01-08 21:35:16,774 INFO sqlalchemy.engine.Engine [raw sql] ('Sales',)
2024-01-08 21:35:16,779 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-08 21:35:16,787 INFO sqlalchemy.engine.Engine
DROP TABLE "Sales"
2024-01-08 21:35:16,788 INFO sqlalchemy.engine.Engine [no key 0.00059s] ()
2024-01-08 21:35:16,790 INFO sqlalchemy.engine.Engine COMMIT
2024-01-08 21:35:16,792 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-08 21:35:16,794 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"ORDERLINENUMBER" BIGINT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"STATUS" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"MSRP" BIGINT,
	"PRODUCTCODE" TEXT,
	"CUSTOMERNAME" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"ADDRESSLINE2" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"TERRITORY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT,
	"DEALSIZE" TEXT
)


2024-01-08 21:35:16,794 INFO sqlalchemy.engine.Engine [no key 0.00056s] ()
2024-01-08 21:35:16,796 INFO sqlalchemy.engine.Engine COMMIT
2024-01-08 21:35:16,807 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-08 21:35:16,831 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "ORDERLINENUMBER", "SALES", "ORDERDATE", "STATUS", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "MSRP", "PRODUCTCODE", "CUSTOMERNAME", "PHONE", "ADDRESSLINE1", "ADDRESSLINE2", "CITY", "STATE", "POSTALCODE", "COUNTRY", "TERRITORY", "CONTACTLASTNAME", "CONTACTFIRSTNAME", "DEALSIZE") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-01-08 21:35:16,833 INFO sqlalchemy.engine.Engine [generated in 0.02032s] ((10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small'), (10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small'), (10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium'), (10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium'), (10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium'), (10168, 36, 96.66, 1, 3479.76, '10/28/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Technics Stores Inc.', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', None, 'Hirano', 'Juri', 'Medium'), (10180, 29, 86.13, 9, 2497.77, '11/11/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Daedalus Designs Imports', '20.16.1555', '184, chausse de Tournai', None, 'Lille', None, '59000', 'France', 'EMEA', 'Rance', 'Martine', 'Small'), (10188, 48, 100.0, 1, 5512.32, '11/18/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium')  ... displaying 10 of 2823 total bound parameter sets ...  (10397, 34, 62.24, 1, 2116.16, '3/28/2005 0:00', 'Shipped', 1, 3, 2005, 'Ships', 54, 'S72_3212', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Small'), (10414, 47, 65.52, 9, 3079.44, '5/6/2005 0:00', 'On Hold', 2, 5, 2005, 'Ships', 54, 'S72_3212', 'Gifts4AllAges.com', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', None, 'Yoshido', 'Juri', 'Medium'))
2024-01-08 21:35:16,854 INFO sqlalchemy.engine.Engine COMMIT
2024-01-08 21:35:16,856 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2024-01-08 21:35:16,857 INFO sqlalchemy.engine.Engine [raw sql] ()

In [17]:
with temp_db.connect() as conn:
    result = conn.execute(text("Select ORDERNUMBER, SALES from Sales ORDER BY SALES DESC LIMIT 1"))

2024-01-08 21:37:23,886 INFO sqlalchemy.engine.Engine Select ORDERNUMBER, SALES from Sales ORDER BY SALES DESC LIMIT 1
2024-01-08 21:37:23,888 INFO sqlalchemy.engine.Engine [generated in 0.00235s] ()

In [18]:
result.all()

[(10407, 14082.8)]

# SETTING UP OPEN AI API KEY

In [22]:
import openai
import os

In [67]:
openai.api_key = os.getenv("<Your Secret Key>")

In [62]:
def create_table_definition_prompt(df):
    """
    This function returns a prompt that informs CHATGPT that we want to work with SQL Tables
    """
    prompt = '''### sqlite SQL table, with its properties:
#
# Sales ({})
#
'''.format(",".join(str(x) for x in df.columns))

    return prompt

### Taking Natural language request from end user and combining prompts

#### Will create an Input function to grab the user request

In [63]:
def prompt_input():
    nlp_text = input("Enter Information you want to obtain: ")
    return nlp_text

In [33]:
nlp_text = prompt_input()

In [64]:
def combine_prompts(df,query_prompt):
    definition = create_table_definition_prompt(df)
    query_init_string = f"### A query to answer: {query_prompt}\nSelect"
    return definition+query_init_string

In [65]:
combine_prompts(df, nlp_text)

'### sqlite SQL table, with its properties:\n#\n# Sales (ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE)\n#\n### A query to answer: Sum of sales per Postal Code\nSelect'

##### Calling the Da-Vinci model and Parsing the request

In [ ]:

response = openai.Completion.create(
    model="text-davinci-003",
    prompt=combine_prompts(df,nlp_text),
    temperature=0,
    max_tokens=150,
    top_p=1.0,
    frequency_penalty=0.0,
    presence_penalty=0.0,
    stop=["#",";"]
)

In [ ]:
response

In [ ]:
def handle_response(response):
    query = response["choices"][0]["text"]
    if query.startswith(" "):
        query = "select" + query 
    return query

In [ ]:
handle_response(response)

In [ ]:
with temp_db.connect() as conn:
    result = conn.execute(text(handle_response(response)))